/* Error Page Area css
============================================================================================ */
.error_area{
	text-align: center;
	background: url(../img/error-bg.jpg) no-repeat scroll center center;
	background-size: cover;
	min-height: 920px;
	display: flex;
	position: relative;
	z-index: 2;
	&:before{
		content: "";
		background: rgba(23, 36, 96, .9);
		position: absolute;
		left: 0px;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.error_inner{
		display: flex;
		width: 100%;
		height: 100%;
		.error_inner_text{
			align-self: center;
			vertical-align: middle;
			text-align: center;
			width: 100%;
			color: #fff;
			margin-top: -90px;
			h3{
				font-size: 200px;
				font-family: $pop;
				font-weight: bold;
				margin-bottom: -10px;
				display: block;
				vertical-align: middle;
				align-self: center;
			}
			h4{
				font-size: 50px;
				font-family: $pop;
				font-weight: bold;
				margin-bottom: 12px;
			}
			h5{
				font-size: 25px;
				font-family: $pop;
				margin-bottom: 40px;
				font-weight: normal;
			}
			.main_btn{
				border-radius: 0px;
				line-height: 70px;
				font-size: 20px;
				padding: 0px 70px;
				font-family: $pop;
				font-weight: 600;
			}
		}
	}
}
/* End Error Page Area css
============================================================================================ */